body {
	margin: 0 20% ;
	font-family: Georgia, "Times New Roman", Times, serif;
}
h1,h2,h3{
	text-align: center;
	text-shadow: -0.2em 0.2em 0.3em silver;
	text-transform: uppercase;
}
h1 {
	font-size: 2.5em;
	font-family: impact;
	font-weight: normal;
	text-transform: uppercase;
	border-bottom: 3px solid black;
	color: #000000;
}
h2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
	color: #000000;
}
h3{
	font-size: 1em;
	color: #000000;
}
p{
	text-indent: 2em;
}
